@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

a{
  color: black !important;
}
.brand-logo,h2{
  font-family: 'Anton', sans-serif;
}

.mycard{
  margin-top: 10%;
}
.auth-card{
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}
.input-field input[type=text]:focus {
  border-bottom: 1px solid #ef9a9a !important;
  box-shadow: 0 1px 0 0 #ef9a9a !important;
}
.gallery{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.item{
  width: 30%;
}

.home-card{
  max-width:500px;
  height: max-content;
  margin:26px auto;
}